<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AllTestcases">
    <listeners>
      <listener class-name="utils.ExtentReporterNG"/>
    </listeners>
     <test name="All Unit Tests">
        <classes>
            <class name="unit.SampleTest"/>
            <class name="unit.AttachSonarReportTest"/>
            <class name="unit.CalculatorTest"/>
            <class name="unit.StringUtilsTest"/>
            <class name="unit.ApiHealthCheckTest"/>
            <class name="unit.DatabaseConnectionTest"/>
        </classes>
    </test>

    <!-- ==========================
         TEST GROUP 2 — UI Tests
         ========================== -->
    <test name="All UI Automation Tests">
        <classes>
            <class name="testcase.AutomationTests"/>
        </classes>
    </test>

    <!-- ==========================
         TEST GROUP 3 — API Tests
         ========================== -->
    <test name="All API Tests">
        <classes>
            <class name="testcase.HondaApiTests"/>
        </classes>
    </test>
    
</suite>
