<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression_Suite_API_UI">
  
  <listeners>
    <listener class-name="utils.ExtentReporterNG"/> 
  </listeners>

  <test thread-count="2" name="Amazon_NHTSA_Tests">
    <classes>
      <class name="testcase.HondaApiTests"/>
      
      <class name="testcase.AutomationTests"/>
    </classes>
  </test>
  
  </suite>
